     /*footer*/
     body{
      font-family: sans-serif;
     }
     footer {
        background-color: black;
        color: white;
        padding: 40px;
      }
      
      .footer-container {
        display: flex;
        justify-content: space-between;
      }
      
      .footer-menu {
        flex-basis: 23%;
      }
      
      footer h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      footer li {
        margin-bottom: 10px;
      }
      
      footer a {
        color:white;
        text-decoration: none;
      }
      
      footer a:hover {
        text-decoration: underline;
      }
      
      .app-icon {
        display: flex;
        align-items: center;
      }
      
      .app-icon img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
      

