
        * {
            text-decoration: none;
            color: bl;
        }

        section {
            width: 100%;
        }

        section img {
            width: 100%;
        }

        .Spacediv {
            border: 2px solid transparent;
            height: 50px;
        }

        .ProductDiv {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 99%;
            margin: auto;
            border-bottom: 2px solid black;
            text-transform: uppercase;
            margin-left: 5px;
        }

        .ProductDiv img {
            height: 300px;
            object-fit: cover;
            width: 300px;
        }

        .ProductDiv>div>a {
            display: flex;
            width: 100%;
            border: 2px solid gray;
            justify-content: space-between;
        }

        .ProductDiv>div div {

            writing-mode: vertical-lr;
            /* set the writing mode to vertical */
            transform: rotate(-180deg);
            /* rotate the text 180 degrees */
            text-align: right;
            /* align the text to the right */
            /* center the text vertically */
        }


        .border {
            color: red;
            font-size: 50px;

        }

        .container-Signup {
            display: flex;
            width: 100%;
            border-top: 2px solid grey;
            background-color: rgb(202,252,79);
        }
        .nonsignup_side {
            width: 65%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 50px 50px;
            gap: 20px 20px;
            background-color: #F5F4F2;
        }
        .nonsignup_side>div{
            text-align: start;
        }

        .largefontsize {
            font-size: 100px;
        }

        .normalfontsize {
            font-size: 35px;
            font-weight: 00;
        }

        .nonsignup_side h3 {
            font-weight: normal;
        }

        .signup_side{
            font-size: 35px;
            margin: auto;
           cursor: pointer;
            margin-top: 100px;
            margin-bottom: 100px;

         
        }

        .signup_side button {
            font-size: 15px;
            text-align: center;
            padding: 5px 20px 5px 20px;
            background-color: black;
            color:white;
            border: none;
            cursor: pointer;
        }
        .mostwanted{
            display: flex;
            width: 91.7%;
            justify-content: space-evenly;
            align-items: end;
            
            padding: 60px;
        }
        #mowa{
            width: 20%;
            display: flex;
         
            transform: rotate(-90deg);
            justify-content: center;
            align-items: start  ;
            margin-bottom: 90px;
            font-size:  30px;
        }
        .contentmostwanted{
            width: 70%;
            display: grid;
            font-weight: bold;font-size: x-large;
            grid-template-columns: repeat(5,1fr);
            gap: 10px 20px;
         
        }
        .newspace{
            border-bottom: 2px solid grey;
       
        }
        .newspace{
            border-top: 2px solid grey;
        }
   